:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222222;
}
.appName {
  color: white;
}
.NavBarInput {
  width: 200px;
}
.home {
  position: relative;
}
.dropDown {
  position: absolute;
  z-index: 1;
}
h1 {
  text-align: center;
  margin: 3rem 0 2rem 0;
  font-size: 3rem;
}
h3 {
  margin: 5px;
}

.q_and_a {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: #4b4b4b;
}
.white:hover {
  color: white;
}
.green {
  color: #6cac80;
}
.green:hover {
  color: #7eca96;
}

.browse {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question-header {
  text-decoration: none;
  color: black;
}

.header-caption {
  margin-bottom: 6rem;
  text-align: center;
}

.question-prompt {
  text-align: center;
}

.top-questions-header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 16rem;
  font-size: 1rem;
  padding: 0.2rem;
}
.question {
  margin: 20px;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 20px;
  margin: 5px;
}
.line {
  background-color: grey;
  height: 1px;
  width: 100%;
  margin: 2vw;
}

textarea {
  width: 20rem;
  margin: 1rem;
  font-size: 1rem;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnCentering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
