:root {
  font: 16px / 1 sans-serif;
}
@font-face {
  font-family: 'GV';
  src: url('./assets/Good\ Vibes\ -\ Demo.ttf');
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
.pageLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
img.loading {
  width: 200px;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  padding: 5px 0;
  height: 40px;
}
.appName {
  color: white;
  font-family: 'GV';
  letter-spacing: 0.8px;
  font-weight: 500;
}
.NavBarInput {
  width: 200px;
}

.dropDownParent {
  background-color: #222222;
  padding: 5px;
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
}
.dropDown {
  position: absolute;
  z-index: 1;
  background-color: #222222;
  width: 100%;
}
h1 {
  text-align: center;
  margin: 3rem 0 2rem 0;
  font-size: 3rem;
}
h4 {
  margin: 0;
}
.fa-chevron-up,
.fa-chevron-down {
  color: #ffffff;
}
.fa-chevron-up:hover,
.fa-chevron-down:hover {
  cursor: pointer;
  color: #ffffffa8;
}

.q_and_a {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: #6b6b6b;
}
.white:hover {
  color: white;
}
.green {
  color: #6cac80;
}
.green:hover {
  color: #7eca96;
}

.browse {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question-header {
  text-decoration: none;
  color: black;
}

.header-caption {
  margin-bottom: 6rem;
  text-align: center;
}

.question-prompt {
  text-align: center;
}

.top-questions-header {
  margin: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 16rem;
  font-size: 1rem;
  padding: 0.2rem;
}
.question {
  margin: 20px;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 20px;
  margin: 5px;
}
.line {
  background-color: grey;
  height: 1px;
  width: 100%;
  margin: 2vw;
}

textarea {
  width: 20rem;
  margin: 1rem;
  font-size: 1rem;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnCentering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.defaultWidth {
  width: 90vw;
  margin: 5vw;
}
